:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --green: #5BD963;
}
/*Button*/
/*Button styling*/
.button{
    margin: 20px 0px;
    padding: 5px 15px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    font-size: 1.5vw;
}
.button:hover{
    background-color: var(--darkpink);
    border: 1px solid var(--darkpink);
    transition: background-color .2s ease;
    color: white;
}
/*Input*/
.contact_input{
    border-color: black;
    width: 50%;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.5vw;
}
.footer_input{
    padding: 10px 20px;
    border: 1px solid var(--lightpink);
    display: inline-block;
}
textarea{
    width: 50%;
    border: 2px solid var(--grey);
    border-radius: 3px;
    padding: 10px;
    font-size: 1.5vw;
}
/*Radio & Checkbox*/
/*Radio styling*/
.info_form{
    margin: 20px;
}
/*Hidden the browser's default radio button*/
.radio_input{
    display: none;
}
/*Creat a custom radio button*/
.radio_group{
    position: relative;
    padding-left: 30px;
    padding-right : 20px;
    cursor: pointer;
}
.checkmark{
    height: 15px;
    width: 15px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: color .5s ease;
}
/*Creat a circle, hidden when not checked*/
.radio_input:checked + .checkmark{
    border-color: var(--lightpink);
}
/*Styling radio button when checked*/
.checkmark::after{
    content: "";
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background: var(--lightpink);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    transition: transform .5s ease;
    transform: scale(0);
}
.radio_input:checked + .checkmark::after{
    transform: scale(1);
}
/*Checkbox styling*/
/*Hidden browser's checkbox default*/
.checkbox_input{
    display: none;
}
.checkbox_custom >span{
    margin-left: 30px;
}
/*Creat custom checkbox*/
.checkbox_custom > span{
    font-size: 1.5vw;
}
.checkbox_custom{
    position: relative;
    cursor: pointer;
}
.checkbox_mark{
    position: absolute;
    height: 16px;
    width: 16px;
    border: 2px solid var(--grey);
    border-radius: 50%;
    display: inline-block;
}
/*Creat a circle, hidden when not checked*/
.checkbox_input:checked + .checkbox_mark{
    border-color: var(--lightpink);
}
/*Styling checkbox when checked*/
.checkbox_mark::after{
    content: url('https://api.iconify.design/ion:checkmark-circle.svg?color=%23F2BFB3');
    display: none;
}
.checkbox_input:checked + .checkbox_mark::after{
    display: block;
    margin-top: -1px;
}

