:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --green: #5BD963;
}
/*footer*/
.info{
    background-color: var(--lightpink);
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 50px;
    color: black;
    font-size: 2vw;
}
@media screen and (max-width: 600px) {
    .info{
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Social link & icon*/
.social_link{
    text-decoration: none;
    color:black;
}
.social_link:hover, .social_link:active{
    color: white;
}
/* Styling Time & Quicklinks*/
.time, #quicklinks{
    list-style-type: none;
}
.q_link:link, .q_link:visited{
    color: black;
    text-decoration: none;
}
.q_link:hover, .q_link:active{
    color: var(--darkbrown);
}
#quicklinks{
    list-style-type: none;
}
/*Chat pop-up*/
.chat:link, .chat:visited{
    text-decoration: none;
    color: var(--green);
    position: fixed;
    bottom: 10px;
    right: 40px;
}
.hallo{
    border: 1px solid var(--green);
    background-color: var(--green);
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px 0px;
    opacity: 0;
    animation: fadeup 1.5s forwards;
}
.large_circle{
    width: 8px;
    height: 8px;
    border: 1px solid var(--green);
    background-color: var(--green);
    border-radius: 50%;
    opacity: 0;
    animation: fadeup 1s forwards;
    margin-left: 20px;
}
.small_circle{
    width: 5px;
    height: 5px;
    border: 1px solid var(--green);
    background-color: var(--green);
    border-radius: 50%;
    opacity: 0;
    animation: fadeup .7s forwards;
    margin-left: 35px;
}
/*Animation*/
@keyframes fadeup{
    0% {
        transform: translateY(1.5vw);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.chat_icon:hover{
    animation: wiggle 1s infinite;
}
/*Animation*/
@keyframes wiggle{
    0% {
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(15deg);
    }
    66%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/*Map*/
#map:link, #map:visited{
    text-decoration: none;
    color: black;
}
#map:hover, #map:active{
    color: white;
}