:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --yellow: #F2E0C9;
    --green: #5BD963;
}
/*grid image*/
.img_gallery{
    column-count: 4; /*Divide the items in the <div> element into 4 columns*/
    margin-top: 30px;
    padding: 20px;
}
@media screen and (max-width:580px) {
    .img_gallery{
        column-count: 3;
    }
}
@media screen and (max-width: 480px){
    .img_gallery{
        column-count: 2;
    }
}
/******************************************/

/* Full Image */
#full_img{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%); 
    z-index: 1; /* Sit on top */
    /*If 2 positioned elements overlap without "z-index" specified, 
    the element positioned last in the HTML code will be shown on top. */
    background-color: rgba(0, 0, 0, 0.9);
}

#current_img{
    /* Center Image */
    display: block;
    margin: auto;
    max-height: fit-content;
    max-width: 700px;
    height: 100%;
    width: auto;
}
@media screen and (max-width: 450px) {
    #current_img{
        width: 100%;
    }
}
/*****************************************/

/*close, prev & next Icon*/
.display_icon{
    position: absolute;
    display: block;
    color: white;
}
.display_icon:hover{
    background: rgba(255, 255, 255, 0.3);
}

#close_img{
    top: 5%;
    right: 5%;
}
#prev_img{
    top: 50%;
    left: 5%
}
#next_img{
    top: 50%;
    right: 5%
}

/******************************************/

.thumbnail{
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden; 
    /*To clip the content to fit in the specified area, 
    hidden - The overflow is clipped and the rest of the content will be invisible*/
}
.photo{
    cursor: pointer;
    width: 100%;
}
.photo:hover{
    transform: scale(1.1);
}