:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --yellow: #F2E0C9;
    --green: #5BD963;
}
.coupon_gift{
    display: grid;
    grid-template-areas:
        "coupon1 coupon2 coupon_text"
        "coupon3 coupon3 coupon3"
        "slogan slogan slogan";
    margin-top: 70px;
}

.coupon1{
    grid-area: coupon1;
}
.coupon2{
    grid-area: coupon2;
}
.coupon3{
    grid-area: coupon3;
}
.coupon_text{
    grid-area: coupon_text;
    padding: 10px 30px 30px 30px;
    border: 1px solid var(--darkbrown);
    background-color: var(--yellow);
    text-align: left;
    margin: 0px auto 30px auto;
    border-radius: 10px;
    width: 600px;
    font-size: large;
}

@media screen and (max-width: 900px) {
    .coupon_img{
        grid-template-areas:
            "coupon3 coupon3"
            "coupon_text coupon_text"
            "coupon1 coupon2"
            "slogan slogan";
    }
}
.coupon3{
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slogan{
    grid-area: slogan;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .coupon_img{
        margin-bottom: 20px;
    }
    .coupon_gift{
        grid-template-areas:
            "coupon1"
            "coupon2"
            "coupon_text"
            "coupon3"
            "slogan";
    }
    .coupon_gift > img{
        width: 300px;
        height: auto;
    }
    .coupon_text{
        width: 300px;
    }
}

