:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --yellow: #F2E0C9;
    --green: #5BD963;
}
/*nav icon*/
.icon{
    display: none;
}
/*Bar*/
.item_group{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        "logo home cost contact gallery gift ."
        "banner_text banner_text banner_text banner_text banner_text banner_text banner_text"
        "rabatt rabatt rabatt rabatt rabatt rabatt rabatt";
    align-self: center;
    justify-self: center;
}
@media screen and (max-width: 850px){
    .item_group{
        position: relative;
        grid-template-areas:
            ". . . logo . . ."
            ". . . home . . ."
            ". . . cost . . ."
            ". . . contact. . ."
            ". . . gallery . . ."
            ". . . gift . . ."
            "banner_text banner_text banner_text banner_text banner_text banner_text banner_text"
            "rabatt rabatt rabatt rabatt rabatt rabatt rabatt";
    }
    .icon{
        position: absolute;
        float: right;
        top: 25%;
        left: 90%;
        display: block;
    }
}
#logo{
    align-items: center;
    grid-area: logo;
}
#home{
    grid-area: home;
}
#cost{
    grid-area: cost;
}
#gallery{
    grid-area:gallery;
}
#contact{
    grid-area: contact;
}
#gift{
    grid-area: gift;
}
/******************************************/

/*nav-item*/
.nav_item{
    align-self: center;
    text-align: center;
    font-size: xx-large;
}
.nav_item:link, .nav_item:visited{
    text-decoration: none;
    color: black;
}
.nav_item:hover, .nav_item:active{
    color: var(--darkpink);
}
/******************************************/

/*Banner*/
#banner{
    width: 100%;
    height: auto;
}
.banner_text{
    margin-top: 20px;
    grid-area: banner_text;
    position: relative;
}
/*Termin*/
.welcome > #termin{
    position: absolute;
    top: 70%;
    left: 75%;
}
#termin:link, #termin:visited{
    text-decoration: none;
    color: white;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    border-radius: 5px;
    padding: 4px;
    font-size: 2.5vw;
}
#termin:hover, #termin:active{
    color: var(--purple);
    border: 1px solid var(--lightpink);
    background-color: var(--lightpink);
}
/******************************************/

/*Welcome*/
#welcome{
    position: absolute;
    list-style-type: none;
    text-align: center;
    top: 55%;
    left: 65%;
    color: var(--darkbrown);
    font-size: 4vw ;
    background: rgba(255, 255, 255, 0.3);
    padding: 35px;
    border-radius: 50%;
}
@media screen and (max-width: 980px){
    #welcome{
        top: 50%;
        left: 60%;
    }
}
@media screen and (max-width: 620px){
    #welcome{
        top: 40%;
        left: 55%;
    }
}
/******************************************/

/*Animation*/
/*Rabatt*/
#rabatt{
    position: relative;
    grid-area: rabatt;
    display: flex;
    height: 100%;
    background-color: black;
    padding: 15px;
    font-size: x-large;
}
@media screen and (max-width:620px){
    #rabatt{
        font-size: large;
    }
}
.text1, .text2, .text3, .text4{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    align-items: center;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.text1{
    animation: 16s slidedown 0s infinite;
}
.text2{
    animation: 16s slidedown 4s infinite;
}
.text3{
    animation: 16s slidedown 8s infinite;
}
.text4{
    animation: 16s slidedown 12s infinite;
}
@keyframes slidedown{
    0%{
        opacity: 0;
        bottom: 20px;
    }
    5%{
        opacity: 1;
        bottom: 0;
    }
    20%{
        opacity: 1;
        bottom: 0;
    }
    25%{
        opacity: 0;
        bottom: -20px;
    }
}