/*main*/
:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --yellow: #F2E0C9;
    --green: #5BD963;
}

/*giveaway*/
#sale{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    font-size: x-large;
    background-color: var(--grey);
    padding: 20px;
    text-align: center;
}
@media screen and (max-width: 620px) {
    #sale{
        font-size: large;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

/*sale*/
.sale30{
    font-size: xx-large;
    color: #F50C27;
    margin-right: 20px;
}
.sale_text{
    list-style-type: none;
    margin-bottom: 20px;
}

/*countdown time*/
.countdown_time{
    display: flex;
}
.day, .hour, .minute, .second{
    padding: 10px;
}
@media screen and (max-width: 950px){
    .date_text{
        padding: 5px;
    }
}
/************************************/

/*content*/
.content{
    display: grid;
    grid-template-areas:
        "text1"
        "img1"
        "text2"
        "img2"
        "text3"
        "img3"
        "text4"
        "img4"
        "text5"
        "img5"
        "text6"
        "img6";
}
/*media*/
@media screen and (min-width: 890px) {
    .content{
        grid-template-areas: 
            "text1 img1"
            "img2 text2"
            "text3 img3"
            "img4 text4"
            "text5 img5"
            "img6 text6";
        gap: 30px;
    }
}
/*Text group*/
#nail{
    grid-area: text1;
}
#lash{
    grid-area: text2;
}
#makeup{
    grid-area: text3;
}
#foot_care{
    grid-area: text4;
}
#waxing{
    grid-area: text5;
}
#eyebrows{
    grid-area: text6;
}

/******************************************/

/*text in grid div*/
.text_group{
    position: relative;
    align-self: center;
    justify-content: center;
    font-size: larger;
}
.text{
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}
/******************************************/

/*link price & gallery*/
.price_link, .gallery_link{
    position: absolute;
    top: 80%;
    text-decoration: none;
    color: var(--darkpink);
    padding: 20px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

/*link price*/
.price_link:link, .price_link:visited{
    left: 10%;
}
.price_link:hover, .price_link:active{
    color: var(--grey);
    transform: scale(1.1);
}

/*link gallery*/
.gallery_link:link, .gallery_link:visited{
    right: 40%;
}
.gallery_link:hover, .gallery_link:active{
    color: var(--grey);
    transform: scale(1.1);
}
@media screen and (max-width: 850px){
    .gallery_link:link, .gallery_link:visited{
        right: 40%;
    }
}
@media screen and (max-width: 450px){
    .gallery_link:link, .gallery_link:visited{
        right: 30%;
    }
}
/******************************************/

/*image*/
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border: 1px solid var(--darkpink);
    margin-top: 40px;
}
#img1{
    grid-area: img1;
}
#img2{
    grid-area: img2;
}
#img3{
    grid-area: img3;
}
#img4{
    grid-area: img4;
}
#img5{
    grid-area: img5;
}
#img6{
    grid-area: img6;
}
/******************************************/

/*Membership card*/
.membership{
    display: flex;
    background-color: var(--darkpink);
    margin: 70px;
}
.card_text{
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    padding: 40px;
    font-size: larger;
}
.bonus_card{
    display: block;
    width: 40%;
    height: auto;
    margin: 20px;
}
@media screen and (max-width: 580px) {
    .membership{
        flex-direction: column;
    }
    .bonus_card{
        margin: 0 auto 20px auto;
    }
    .text_left{
        padding: 10px;
    }
}
