/*main*/
:root{
    --lightpink: #F2BFB3;
    --darkpink: #D99791;
    --lightbrown: #BF8F84;
    --darkbrown: #733B36;
    --grey: #D9D9D9;
    --purple: #401621;
    --yellow: #F2E0C9;
    --green: #5BD963;
}

/*giveaway*/
#sale{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    font-size: x-large;
    background-color: var(--grey);
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 620px) {
    #sale{
        font-size: large;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

/*sale*/
.sale30{
    font-size: xx-large;
    color: #F50C27;
    margin-right: 20px;
}
.sale_text{
    list-style-type: none;
    margin-bottom: 20px;
}
/************************************/

/*content*/
.content{
    display: grid;
    grid-template-areas: 
        "text1 img1"
        "img2 text2"
        "text3 img3"
        "img4 text4"
        "text5 img5"
        "img6 text6";
    justify-content: center;
    align-items: center;
}
/*media*** Max-width: 1100px ****/
@media screen and (max-width: 1100px) {
    .content{
        grid-template-areas:
            "img1"
            "text1"
            "img2"
            "text2"
            "img3"
            "text3"
            "img4"
            "text4"
            "img5"
            "text5"
            "img6"
            "text6";
    }
}
/*The Ids in Class= Content*/
#nail{
    grid-area: text1;
}
#lash{
    grid-area: text2;
}
#makeup{
    grid-area: text3;
}
#foot_care{
    grid-area: text4;
}
#waxing{
    grid-area: text5;
}
#eyebrows{
    grid-area: text6;
}

/******************************************/

/*text in every id of Content*/
.text_group{
    position: relative; 
    font-size: x-large;
}
@media screen and (max-width: 850px){
    .text_group{
        font-size: large;
    }
}

.text{
    padding: 0px 10px 0px 30px;
}
/******************************************/

/*link price & gallery*/
.price_link, .gallery_link{
    position: absolute; /*Position of Price & Gallery link is fix because of Position relative of Parents Div (.text_group)*/
    top: 100%;
    text-decoration: none; /*To make blue color and line of Link are invisible*/
    color: var(--darkpink);
    cursor: pointer;
    transition: 0.25s ease-in-out;
    font-weight: bold;
}

/*link price*/
.price_link:link, .price_link:visited{
    left: 10%;
}
.price_link:hover, .gallery_link:hover, .gallery_link:active, .price_link:active{
    border: 1px solid var(--darkpink);
    border-radius: 3px;
    padding: 0 5px;
    transform: scale(1.1);
}

/*link gallery*/
.gallery_link:link, .gallery_link:visited{
    right: 50%;
}
/*************** Max-with: 850px **************/
@media screen and (max-width: 850px){
    .gallery_link:link, .gallery_link:visited{
        right: 60%;
    }
}

/*************** Max-with: 450px **************/
@media screen and (max-width: 450px){
    .gallery_link:link, .gallery_link:visited{
        right: 30%;
    }
}
/******************************************/

/*image*/
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border: 1px solid var(--darkpink);
    margin-top: 40px;
}
@media screen and (max-width: 850px){
    .image{
        width: 60%;
    }
}

#img1{
    grid-area: img1;
}
#img2{
    grid-area: img2;
}
#img3{
    grid-area: img3;
}
#img4{
    grid-area: img4;
}
#img5{
    grid-area: img5;
}
#img6{
    grid-area: img6;
}
/******************************************/

/*Membership card*/
.membership{
    display: flex; /*Display Grid & Grid-template-column don't work well with the Text & Image, the items aren't responsive  */
    background-color: var(--darkpink);
    margin-top: 60px;
    font-size: x-large;
}
.card_text{
    display: flex;
    align-items: center;/*To make the Text reponsive and stay centered */
    justify-items: center;
    color: white;
    padding: 40px;
}
.bonus_card{
    width: 350px;
    height: 350px;
    margin: 20px;
}
@media screen and (max-width: 580px) {
    .membership{
        flex-direction: column; 
        /*The flexible items ( Card_text & Image Bonus_card) are displayed vertically, as a column*/      
        font-size: large;
    }
    .bonus_card{
        width: 250px;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
    }
    .card_text{
        padding: 10px;
    }
}
